<!DOCTYPE html>
<!--
    Introspect by TEMPLATED
    templated.co @@templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glenn Mayes Toastmaster and Celebrant - @ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    @Styles.Render("~/Content/minified-css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <link href="~/Content/CSS/Menu.css" rel="stylesheet" />
</head>
<body>
    <!-- Header -->
    <header id="header">
        <div class="container">
            <a class="menu-trigger" id="menu-button" aria-controls="main-nav" role="button" aria-expanded="false">
                Menu
            </a>
            <nav id="nav">
                <ul class="nav">
                    <li class="submenu">
                        <a class="dropbtn" href="@Url.Action("Index", "Toastmaster")">Professional Toastmaster</a>
                        <div class="submenu-content">
                            <a href="@Url.Action("Index", "Weddings")">Weddings</a>
                            <a href="@Url.Action("Index", "OtherCelebrations")">Other celebrations</a>
                            <a href="@Url.Action("Index", "Dinners")">Dinners</a>
                            <a href="@Url.Action("Index", "CorporateEvents")">Corporate events</a>
                            <a href="@Url.Action("Index", "FAQ", new { faqType = "Weddings" })">FAQs</a>
                            <a href="@Url.Action("Index", "Venues")">Venues</a>
                        </div>
                    </li>
                    <li class="submenu">
                        <a class="dropbtn" href="@Url.Action("Index", "Celebrant")">Independent Celebrant</a>
                        <div class="submenu-content">
                            <a href="@Url.Action("Index", "Weddings")">Weddings</a>
                            <a href="@Url.Action("Index", "Funerals")">Funerals</a>
                            <a href="@Url.Action("Photography", "Funerals")">Funeral photography</a>
                            <a href="@Url.Action("Naming", "Baby")">Baby naming</a>
                            @*<a href="@Url.Action("Funeral", "Baby")">Baby funeral</a>*@
                            <a href="@Url.Action("Index", "OtherCelebrations")">Other celebrations</a>
                            <a href="@Url.Action("Index", "FAQ", new { faqType = "Celebrant" })">FAQs-Weddings</a>
                            <a href="@Url.Action("Index", "FAQ", new { faqType = "Funerals" })">FAQs-Funerals</a>
                            <a href="@Url.Action("Index", "Venues")">Venues</a>
                        </div>
                    </li>
                    <li class="submenu">
                        <a class="dropbtn" href="">More</a>
                        <div class="submenu-content">
                            <a class="small-text" href="@Url.Action("About", "Home")">About me</a>
                            <a href="@Url.Action("Index", "Blog")">Blog</a>
                            <a href="@Url.Action("Index", "Testimonials")">Testimonials</a>
                            <a href="@Url.Action("Index", "SpeechWriting")">Speech writing</a>
                            @*<a href="@Url.Action("Index", "Favours")">Favours</a>*@
                            <a href="@Url.Action("Index", "Links")">Links</a>
                            <a href="@Url.Action("Index", "GetInTouch")">Get in touch</a>
                        </div>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="glenn-title"><a class="dropbtn" href="@Url.Action("Index", "Home")">Glenn Mayes</a></div>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="get-in-touch-section">
            <section class="get-in-touch-text">
                <a href="@Url.Action("Index", "GetInTouch")">Get in touch</a>
            </section>
            <section>
                <a href="@Url.Action("Index", "GetInTouch")">
                    <img src="~/Content/Images/Logo.png" style="width: 200px; height: 200px;" />
                </a>
            </section>
            <section class="telephone-number">
                <a href="tel:07826339498">07826-339498</a>
            </section>
        </div>
        <article class="copyright">
            <section>
                &copy;@DateTime.Now.Year
                Web site design by <a href="http://www.rsstudios.co.uk">RS Studios</a> |
                Tel: <a href="tel:07956487703">07956-487703</a>
            </section>
            <section>
                <a href="@Url.Action("Index", "GDPR")">Privacy notice</a>
            </section>
            <section>
                Based on a template from &copy; Untitled Design: <a href="https://templated.co" target="_blank">TEMPLATED</a>
            </section>
        </article>
    </footer>

    @Scripts.Render("~/bundles/Introspect")
    <script src="~/Content/Scripts/3rdParty/Introspect/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
