
@using EssexCelebrant.Models.Carousel;

@{
    ViewBag.Title = "Home";

    var carousel = new List<Carousel>
{
new Carousel
{
Image = "Content/Images/Testimonial.jpeg",
Line1 = "Father of the Bride speech causing you problems?",
Line2 = "Contact me for help with writing, editing and delivering <a href='tel:07826339498' target='_blank'>07826 339498</a>",
Line2ContainsHtml = true
},
new Carousel
{
Image = "Content/Images/ManWithButtonHole.jpeg",
Line1 = " From traditional to modern, etiquette assured"
},
new Carousel
{
Image = "Content/Images/Rings.jpeg",
Line1 = "Renewal of vows.",
Line2 = "Contact me on <a href='tel:07826339498' target='_blank'>07826 339498</a>, for a unique and bespoke celebration.",
Line2ContainsHtml = true
},
new Carousel
{
Image = "Content/Images/FormalDinner.jpeg",
Line1 = "Formal dinner or masonic occasion - contact me to discuss your requirements."
},
new Carousel
{
Image = "Content/Images/MilitaryWedding.jpeg",
Line1 = "Military weddings, Independant Celebrancy ceremonies - Your ceremony. Your way."
},
new Carousel
{
Image = "Content/Images/CorporateEvent.jpeg",
Line1 = "Running a high society event and need a Toastmaster that you can rely on? <a href='tel:07826339498' target='_blank'>07826 339498</a>,",
Line1ContainsHtml = true
}
};
}

<link href="~/Content/CSS/Home.min.css" rel="stylesheet" />

@Html.Partial("_Carousel", carousel)

<!-- One -->
<section class="home" id="one">
    <div class="inner-6em">
        <header>
            <h2>Glenn Mayes, your toastmaster and celebrant</h2>
        </header>
        <section>
            <article>
                Based near Maldon, Essex, Glenn is able to guide you through your event from writing speeches to ensuring correct protocol and etiquette is considered.
            </article>
        </section>

        <section class="grid">
            <article class="item">
                <a href="@Url.Action("Index", "Toastmaster")">
                    <label class="heading">Toastmaster</label>
                    <img src="~/Content/Images/Headshot.jpeg" />
                </a>
            </article>
            <article class="item">
                <a href="@Url.Action("Index", "Favours")">
                    <label class="heading">Favours</label>
                    <img src="~/Content/Images/HoneyJar.jpg" />
                </a>
            </article>
            <article class="item">
                <a href="@Url.Action("Index", "Celebrant")">
                    <label class="heading">Celebrant</label>
                    <img src="~/Content/Images/MilitaryWeddingGroupPhoto.jpeg" />
                </a>
            </article>
            <article class="item">
                <a href="@Url.Action("Index", "SpeechWriting")">
                    <label class="heading">Speech Writing</label>
                    <img src="~/Content/Images/QuillWriting.jpeg" />
                </a>
            </article>
        </section>
    </div>
</section>

<!-- Two -->
<section id="two">
    <div class="inner">
        <article>
            <div class="content">
                <header>
                    <h3>Promote a service here</h3>
                </header>
                <div class="image fit">
                    <img src="~/Content/Images/Glenn-Headshot1.jpg" style="height: 250px;" />
                </div>
                <p><i>We can link to another page for more detail. </i>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
            </div>
        </article>
        <article class="alt">
            <div class="content">
                <header>
                    <h3>Promote a service here</h3>
                </header>
                <div class="image fit">
                    <img src="~/Content/Images/ReleasingOfDoves.jpg" style="height: 250px;" />
                </div>
                <p><i>We can link to another page for more detail. </i>Cumsan mollis eros. Pellentesque a diam sit amet mi magna ullamcorper vehicula. Integer adipiscin sem. Nullam quis massa sit amet lorem ipsum feugiat tempus.</p>
            </div>
        </article>
    </div>
</section>

<!-- Three -->
@*<section id="three">
        <div class="inner">
            <article>
                <div class="content">
                    <header>
                        <h3>Weddings</h3>
                    </header>
                    <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna lorem ullamcorper laoreet, lectus arcu.</p>
                    <ul class="actions">
                        <li><a href="Weddings" class="button alt">Learn More</a></li>
                    </ul>
                </div>
            </article>
            <article>
                <div class="content">
                    <header>
                        <h3>Independent Celebrant</h3>
                    </header>
                    <p>Ut convallis, sem sit amet interdum consectetuer, odio augue aliquam leo, nec dapibus tortor nibh sed.</p>
                    <ul class="actions">
                        <li><a href="Celebrant" class="button alt">Learn More</a></li>
                    </ul>
                </div>
            </article>
            <article>
                <div class="content">
                    <header>
                        <h3>Funerals</h3>
                    </header>
                    <p>Suspendisse mauris. Fusce accumsan mollis eros. Pellentesque a diam sit amet mi ullamcorper vehicula.</p>
                    <ul class="actions">
                        <li><a href="Weddings" class="button alt">Learn More</a></li>
                    </ul>
                </div>
            </article>
        </div>
    </section>*@

<script>
    var elem = document.querySelector('.main-carousel');
    //var flkty = new Flickity(elem, {
    //    // options
    //    cellAlign: 'left',
    //    contain: true
    //});
    //$('.main-carousel').slick({

    //});
</script>
